h1{
    text-align: center;
    font-size: 25px;
    color: rgb(140, 35, 238);
}
body {
    background-color: rgb(164, 240, 240);
}
.farmacia {
    width: 30%;
    height: 20%;
    margin-top: 0%;

}
